<h1>Listing recipe_ingredients</h1>

<table>
  <tr>
    <th>Quantity</th>
    <th>Measurement unit</th>
    <th>Resources</th>
    <th>Resources</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipe_ingredients.each do |recipe_ingredient| %>
  <tr>
    <td><%= recipe_ingredient.quantity %></td>
    <td><%= recipe_ingredient.measurement_unit %></td>
    <td><%= recipe_ingredient.resources %></td>
    <td><%= recipe)ingredient.resources %></td>
    <td><%= link_to 'Show', recipe_ingredient %></td>
    <td><%= link_to 'Edit', edit_recipe_ingredient_path(recipe_ingredient) %></td>
    <td><%= link_to 'Destroy', recipe_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe_ingredient', new_recipe_ingredient_path %>
