<p id="notice"><%= notice %></p>

<p>
  <b>Quantity:</b>
  <%= @recipeingredient.quantity %>
</p>

<p>
  <b>Measurement unit:</b>
  <%= @recipeingredient.measurement_unit %>
</p>

<p>
  <b>Resources:</b>
  <%= @recipeingredient.resources %>
</p>

<p>
  <b>Resources:</b>
  <%= @recipeingredient.resources %>
</p>


<%= link_to 'Edit', edit_recipeingredient_path(@recipeingredient) %> |
<%= link_to 'Back', recipeingredients_path %>
