<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Quantity:</b>
  <ul>
  <% @recipe_ingredients.@recipe.each do |quantity| %>
    <li><%= link_to recipe_ingredient.quantity, quantity %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Ingredients:</b>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
    <li><%= link_to ingredient.name, ingredient %></li>
    <% end %>
  </ul>
</p>
<table border="1">
<tr>
<th>Header 1</th>
<th>Header 2</th>
</tr>
<tr>
<td>row 1, cell 1</td>
<td>row 1, cell 2</td>
</tr>
<tr>
<td>row 2, cell 1</td>
<td>row 2, cell 2</td>
</tr>
</table>
<p>
  <b>Description:</b>
  <%= @recipe.description %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
