<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
<table>
  <tr>
    <th> Quantity </th>
    <th> Ingredient </th>
  </tr>
  <% @recipe.recipe_ingredients.each do |ri| %>
  <tr>
    <td><%= ri.quantity %></td>
    <td><%= link_to ri.ingredient.name, ingredient_path(ri.ingredient) %></td> 
  </tr>
<% end %>
</table>
</p>
<p>
  <b>Description:</b>
  <%= @recipe.description %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
